# # Read more about SSH config files: https://linux.die.net/man/5/ssh_config
# Host ftp.azwary.my.id
#     HostName kosnekin.azwary.my.id
#     username: kosnekin@kosnekin.azwary.my.id
#     password: kosnekin123!
#     # User id_rsa
#     Port 21
# #  Host nama_alias
# #         HostName alamat_host_atau_IP
# #         User nama_pengguna_ssh
# #         Port nomor_port_ssh


